#app {
    position: relative;
}

.content {
    position: absolute;
    top: 0;
    right: 0;
    left: 200px;
}

.sidebar {
    position: fixed;
    height: 100%;
    background: #111;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 4px;
    top: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    z-index: 1;
    transition: 0.5s;
    box-shadow: inset -4px 0 0 rgba(108, 117, 125, 0.8);
    overflow-y: auto;
    display: block;
    color: #6c757d;
    text-decoration: none;
}

.cool-tab {
    background-color: #818181;
}

.container-fluid {
    background: #818181;
}

body {
    background-image: url("../assets/background-image.jpg");
}

.counter {
    padding-left: 210px;
}


